$pink: #8121d0;
$dark-pink: #291c3a;
$white: #ffffff;
$purple: #331C52;
$transparent-pink: #8E71B4;
$experience-bg: #2A1D3B;
$experience-text: #C6B7E0;
$about-text: #845EB1;
$slide-bg: #DCCFED;
$feedback-bg: #DCCFED;
$highlight-word: #AD0E7C;
$interests-btn: #341D53;
$interests-btn-hover: #6F5296;
$feedback-input: #837992;