@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  src: url(assets/fonts/comfortaa/Bold.woff)  format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  src: url(assets/fonts/comfortaa/Light.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 500;
  src: url(assets/fonts/comfortaa/Medium.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url(assets/fonts/comfortaa/Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url(assets/fonts/roboto/Black.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(assets/fonts/roboto/Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(assets/fonts/roboto/Medium.woff) format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 700;
  src: url(assets/fonts/lexend-deca/Bold.woff) format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 500;
  src: url(assets/fonts/lexend-deca/Medium.woff) format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 400;
  src: url(assets/fonts/lexend-deca/Regular.woff) format('woff');
}