@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  src: url(assets/fonts/comfortaa/Bold.woff)  format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  src: url(assets/fonts/comfortaa/Light.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 500;
  src: url(assets/fonts/comfortaa/Medium.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url(assets/fonts/comfortaa/Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url(assets/fonts/roboto/Black.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(assets/fonts/roboto/Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(assets/fonts/roboto/Medium.woff) format('woff');
}

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 800;
  font-style: normal;
  src: url(assets/fonts/sofia-sans/ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 700;
  font-style: normal;
  src: url(assets/fonts/sofia-sans/Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 500;
  font-style: normal;
  src: url(assets/fonts/sofia-sans/Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 400;
  font-style: normal;
  src: url(assets/fonts/sofia-sans/Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 300;
  font-style: normal;
  src: url(assets/fonts/sofia-sans/Light.ttf) format('truetype');
}