@mixin basic-font {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'locl' 0;
}

@mixin container {
  width: 80%;
  margin: auto;
  height: 100%;

  //@media(max-width: 1000px) {
  //  width: 90%;
  //}
}